<div>
  <p class="instruction">{{ herName }} Has Click en el Corazon xd!</p>
  <div class="container" [style]="">
    <div class="message" [ngClass]="{ openNor: isOpen }">
      <h1
        style="
          font-family: Cinzel, serif;
          font-size: 40px;
        "
      >
        Para {{this.herName}},
      </h1>
      <p>
        <span>
          &emsp; Hoy, en el Día de la Mujer,
          quiero aprovechar la ocasión para felicitarte y agradecerte por ser una persona increíble.
          Aunque no se trata de una fecha especial solo para ti, quiero aprovecharla para recordarte lo
          maravillosa que eres y lo afortunado que me siento de conocerte.
        </span>
        <br />
        <br />
        <span>
          &emsp; Mi cariño por ti sigue creciendo, y más allá de cualquier resultado, quiero seguir
          acompañándote y apoyándote, porque eres una persona que merece ser apreciada por todo lo que es.
          Mi respeto y admiración por ti no cambiarán.
          Gracias por ser tú, por iluminar con tu presencia y por ser una mujer tan fuerte y especial.
          Me siento afortunado de tenerte en mi vida y, de corazón, te deseo un Día de la Mujer lleno de amor,
          alegría y momentos que te hagan sonreír.
        </span>
      </p>
      <div class="image-container">
        <img src="maxwell-cat.gif" alt="Cato carga xd" width="100px">
      </div>
      <br />
      <div>
        <div class="sincere">
          <p style="font-weight: bold">Con Cariño,</p>
          <p>Brayan el aweonao</p>
          <p>:v</p>
        </div>
        <br />
        <div class="sincere">
          <p style="font-weight: bold">Pdta: no dormi nada haciendo esto xd</p>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>

  <label *ngIf="!this.isOpen">
    <div class="heart openHer" [ngClass]="{ openHer: isOpen, closeHer: !isOpen }">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/4/42/Love_Heart_SVG.svg"
      />
    </div>
    <input
      id="messageState"
      type="checkbox"
      style="display: none"
      (click)="this.openCart()"
    />
  </label>
  <button
    *ngIf="this.isOpen"
    class="heart button-heart"
    [ngClass]="{ openHer: isOpen, closeHer: !isOpen }"
    (click) = "this.goTo('form/gif')"
  >
    Ir formulario de regalo xd
    <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
      <path
        fill-rule="evenodd"
        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
</div>
