<div class="body-container">
  <div class="wrapper">
    <form [formGroup]="this.myForm">
      <h2>Selecciona tus regalos xd</h2>
      <div class="buttons-gif">
        <button *ngFor="let button of this.buttons ; let i = index" (click)="this.addToGifToMessage(i)" [ngClass]="{'isTouched' : button.isTouched}">
          {{button.name}}
        </button>
      </div>
      <button class="input-field">
        <input type="text" required formControlName="message" [readOnly]="true">
      </button>
      <button (click)="this.sentToWhatsapp()">Solicitar regalo gratuito</button>
    </form>
  </div>

  <div class="overlay" *ngIf="isPopupOpen">
    <div class="popup">
      <img src="pato.gif" alt="Pato png xd" width="100px">
      <h2>Error de seleccion de regalo xd</h2>
      <p>Al parecer no seleccionaste ningun regalo para tu dia de la Mujer xd.</p>
      <button (click)="closePopup()">Cerrar</button>
    </div>
  </div>

  <div class="overlay" *ngIf="isSendOpen">
    <div class="popup">
      <img src="among-us.gif" alt="Pato png xd" width="200px">
      <h2>Tu regalo sera procesado xd</h2>
      <p>Ahora toca definir cuando quieres que te de tu regalo sjjsjsjs</p>
      <button (click)="closeSendPopup()">Cerrar</button>
    </div>
  </div>
</div>
